* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b1b;
    color: #bbb;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:visited {
    color: #673AB7;
}

.title {
    font-family: "Comfortaa";
    font-size: 3rem;
    margin: 10px 0;
}

.flex-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.main-container {
    flex-direction: column;
    min-height: 100%;
}

.icon {
    border: 1px solid black;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    transition: all 0.2s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon:hover {
    transform: rotate(10deg) scale(1.1);
}

.link {
    display: flex;
    align-items: center;
}

.textbox {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 10px;
    margin: 5px 10px;
    width: 400px;
    min-height: 60px;
    background: #333;
}

@keyframes spin {
    0% {transform: rotateX(0deg);}
    50% {transform: rotateX(360deg);}
    100% {transform: rotateX(0deg);}
}

@keyframes shoutoutAnim {
    0% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    100% {transform: rotateZ(2deg);}
}