/*lots of styles taken from Trimps (https://trimps.github.io/), to make it look like the game does*/

body {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	position: relative;
    font-family: sans-serif;
	background: #212121;
	color: #bbb;
	font-size: 1.4rem;
	user-select: none;
}

body {
    -ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar { 
    display: none;
}

p {
    margin: 0 0 1rem;
}

*:focus {
    outline: none;
}

* {
	transform-origin: center center;
}

#inputsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#saveInput, #calculateButton, #VMWeightInput, #XPWeightInput, #HPWeightInput, #weaponLevelsInput, #dailyCritInput {
	color: black;
	border: 0.1rem solid black;
	margin-bottom: -0.1rem;
}

#saveInput {
	height: 2.6rem;
	width: 31.075rem;
	min-height: 2.6rem;
	max-height: 30rem;
	min-width: 31.075rem;
	max-width: 31.075rem;
	overflow-x: hidden;
	overflow-y: hidden;
}

#calculateButton {
	height: 2.4rem;
	width: 31.075rem;
	background: white;
}

#VMWeightInput {
	font-size: 1.1rem;
	height: 2.6rem;
	width: 10.5rem;
	margin-bottom: -0.1rem;
}

#XPWeightInput, #HPWeightInput {
	font-size: 1.1rem;
	height: 2.6rem;
	width: 10.4rem;
	margin-left: -0.5rem;
}

#weaponLevelsInput, #dailyCritInput {
	font-size: 1.1rem;
	height: 2.6rem;
	width: 15.6rem;
	margin-bottom: -0.1rem;
}

#dailyCritInput {
	margin-left: -0.5rem;
}

.checkboxesContainer {
	display: flex;
	flex-direction: row;
	height: 1.6rem;
	width: 31.1rem;
	margin-bottom: 0.1rem;
	font-size: 1.15rem;
	justify-content: center;
}

#heirloomInventory {
	height: 20.4rem;
	margin: 0;
	margin-left: 1.9rem;
	padding: 0.8rem 2rem;
	flex-direction: row;
}

#inventoryColumn1 {
	margin-left: -0.6rem;
	margin-right: 0.6rem;
}

.\?Container {
	height: 0;
	width: 0;
}

#shieldOld\?, #staffOld\?, #coreOld\?, #shieldNew\?, #staffNew\?, #coreNew\? {
	display: none;
	right: -34.1rem;
    top: -8.2rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
	-moz-appearance: textfield;
	text-align: center;
}

input[type="checkbox"] {
	margin: 0rem;
	margin-top: 0.3rem;
	margin-left: 0.5rem;
}

.checkboxContainer {
	display: flex;
	width: 10.4rem;
	line-height: 1.8rem;
}

::placeholder {
	color: #666;
	opacity: 1;
	text-align: center;
}

a {
	color: #a8a7a8;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.help {
	position: relative;
    top: -2rem;
    right: -51.8rem;
    text-align: center;
    background-color: #333;
	border-radius: 50%;
	border: 0.1rem solid black;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
	cursor: default;
	z-index: 999;
	text-shadow: none;
}

.help:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help:hover p{
    display:block;
    transform-origin: 100% 0%;
}

.help p{
    display: none;
    text-align: left;
    background-color: #111111;
	padding: 1.5rem;
	margin-left: -19.1rem;
    width: 40rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    right: -0.4rem;
    color: #FFF;
    font-size: 1.3rem;
	line-height: 1.4;
	z-index: 9999;
	border: 0.2rem solid #555;
}

.help p:after{
    width:100%;
    height:4rem;
    content:'';
    position: absolute;
    top:-4rem;
    left:0;
}

#footer {
	position: sticky;
	z-index: 0;
	bottom: 1rem;
	right: 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#content {
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	margin-bottom: 1.1rem;
}

#content-text {
	max-width: 100%;
	height: 2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

#heirloomPopup {
	position: absolute;
	display: none;
	flex-direction: column;
	height: 31rem;
	width: 37rem;
	font-size: 1.8rem;
    border: 0.3rem solid #555;
	padding: 1rem;
	padding-left: 2rem;
	pointer-events: none;
	z-index: 9999;
	background-color: #111111;
	box-shadow: -0.1rem 0.1rem 1rem #111;
}

.heirloomContainer {
	display: flex;
	flex-direction: column;
	height: 33rem;
	width: 39rem;
	font-size: 1.8rem;
	margin: 1rem;
	margin-top: 0.9rem;
    border: 0.3rem solid #555;
	padding: 1rem;
	padding-left: 2rem;
	background-color: #111111;
	box-shadow: -0.1rem 0.1rem 1rem #111;
}

.heirloomContainerTopRow {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.heirloomIconContainer {
	width: 11%;
	text-align: center;
}

.heirloomEquipped {
	color: white;
	display: none;
}

.heirloomSpentContainer {
	display: flex;
	flex-shrink: 0;
    height: 2.5rem;
}

.heirloomSpent {
	font-size: 1.4rem;
	margin-left: 0.6rem;
	margin-top: 0.3rem;
	white-space: nowrap;
}

.heirloomInnate {
	display: flex;
    justify-content: center;
	font-size: 1.3rem;
}

.nextUpgradesContainer {
	width: 31.1rem;
	height: 7rem;
	margin-top: 0.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border: 0.3rem solid #555;
    padding: 0.3rem;
    padding-top: 0.4rem;
    background-color: #111111;
    box-shadow: -0.1rem 0.1rem 1rem #111;
	color: #8a008a;
	text-align: center;
}

.icomoon {
	font-size: 3.5rem;
}

.glyphicon {
	font-size: 3.5rem;
}

.tinyIcon {
	font-size: 1rem;
	line-height: 1rem;
}

.icomoon.tinyIcon {
	line-height: 1.5rem
}

#heirloomInventory .heirloomMod:hover {
    border-color: #983;
}

.selected {
	border-color: #983 !important;
}

.heirloomName {
	font-size: 2rem;
	line-height: 4rem;
	margin-left: 2.5rem;
	white-space: nowrap;
}

.heirloomMod {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 0.2rem solid #333;
    background-color: #111;
    border-radius: 4rem;
    margin-bottom: 0.3rem;
    display: inline-block;
}

.inventoryHeirloom {
	display: flex;
	height: 2rem;
	width: 17.5rem;
}

.inventoryHeirloomName {
	font-size: 1rem;
	line-height: 1.1rem;
}

.inventoryHeirloomIconContainer {
	width: 8%;
	margin-right:0.3rem;
}

.noShadows {
	text-shadow: none !important;
}

.heirloomRare0{
	color: #888888;
}

.heirloomRare0 .heirloomMod:hover {
	border: 0.2rem solid #888;
}

.heirloomRare1 {
	color: #1f7e1f;
}

.heirloomRare1 .heirloomMod:hover {
	border: 0.2rem solid #1f7e1f;
}

.heirloomRare2 {
	color: #2b2bce;
}

.heirloomRare2 .heirloomMod:hover {
	border: 0.2rem solid #2b2bce;
}

.heirloomRare3 {
	color: #7e1f7e;
}

.heirloomRare3 .heirloomMod:hover {
	border: 0.2rem solid #7e1f7e;
}

.heirloomRare4 {
	color: #e2722e;
}

.heirloomRare4 .heirloomMod:hover {
	border: 0.2rem solid #e2722e;
}

.heirloomRare5 {
	color: #b92727;
}

.heirloomRare5 .heirloomMod:hover {
	border: 0.2rem solid #b92727;
}

.heirloomRare6{
	color: #2693ff;
	text-shadow:
		-0.15rem -0.15rem 0.2rem #5000ba,  
		0.15rem -0.15rem 0.25rem #5b00d3,
		-0.15rem 0.15rem 0.2rem #6600ec,
		0.15rem 0.15rem 0.3rem #2f006d;
	background: -moz-linear-gradient(-45deg,  #000b38 0%, #280021 50%, #000b38 100%); 
	background: -webkit-linear-gradient(-45deg,  #000b38 0%,#280021 50%,#000b38 100%); 
	background: linear-gradient(135deg,  #000b38 0%,#280021 50%,#000b38 100%); 
}

.heirloomRare6 .heirloomMod:hover {
	border: 0.2rem solid #2693ff;
}

.heirloomRare6 .heirloomMod {
	background-color: initial;
}

.heirloomRare7, .heirloomRare7Anim {
	color: #730000;
	text-shadow: 
		0.1rem 0.1rem 0.2rem #ff9326, 
		0 0 2.5rem #ff4000, 
		0 0 0.5rem #f37900, 
		-0.17rem -0.17rem 0.17rem rgba(140,35,0,0.8),  
		0.17rem -0.17rem 0.17rem rgba(89,0,0,0.72),
		-0.17rem 0.17rem 0.17rem rgba(102,0,0,0.58),
		0.17rem 0.17rem 0.3rem rgba(89,0,0,0.72);	
	background: linear-gradient(135deg,  #000000 0%, #400000 50%, #100000 100%); 
}

.heirloomRare7Anim .heirloomIconContainer {
	color: #730000;
	animation: heirloomRare7Animated 7s infinite;
}

.heirloomRare7 .heirloomMod:hover, .heirloomRare7Anim .heirloomMod:hover {
	border: 0.2rem solid #8c0000;
}

.heirloomRare7 .heirloomMod {
	background-color: initial;
}

.heirloomRare8, .heirloomRare8Anim {
	color: #0e5a07;
	text-shadow: 
		0.1rem 0.1rem 0.2rem rgba(15, 158, 74, 0.6), 
		0 0 2.5rem rgba(43, 64, 185, 0.6), 
		0 0 0.5rem rgba(33, 114, 51, 0.6);
}

.heirloomRare8 .heirloomIconContainer {
	color: #083604;
}

.heirloomRare8Anim .heirloomIconContainer {
	color: #083604;
	animation: heirloomRare8Animated 30s infinite;
}

.heirloomRare8 .heirloomMod:hover, .heirloomRare8Anim .heirloomMod:hover {
	border: 0.2rem solid #0e5a07;
}

.heirloomRare8 .heirloomMod {
	background-color: initial;
}

.heirloomRare9, .heirloomRare9Anim {
    color: #5f39e6;
	text-shadow:
		0.1rem 0.1rem 0.2rem rgba(11, 2, 138, 0.6),
		0 0 2.5rem rgba(3, 110, 17, 0.6),
		0 0 0.5rem rgba(38, 28, 128, 0.6);
}

.heirloomRare9 .heirloomIconContainer {
    color: #15025a;
}

.heirloomRare9Anim .heirloomIconContainer  {
    color: #15025a;
    animation: heirloomRare9Animated 7s infinite;
}

.heirloomRare9 .heirloomMod:hover, .heirloomRare9Anim .heirloomMod:hover {
	border: 0.2rem solid #15025a;
}

.heirloomRare9 .heirloomMod {
	background-color: initial;
}

.heirloomRare10, .heirloomRare10Anim {
	color: #ffa229;
	text-shadow:
		0.05rem 0.05rem 0.05rem #400549,
		-0.05rem 0.05rem 0.05rem #400549,
		0.05rem -0.05rem 0.05rem #400549,
		-0.05rem -0.05rem 0.05rem #400549,
		0.15rem 0.15rem 0.15rem #bf0000,
		-0.15rem 0.15rem 0.15rem #bf0000,
		0.15rem -0.15rem 0.15rem #bf0000,
		-0.15rem -0.15rem 0.15rem #bf0000,
		0.5rem 0.5rem 1.4rem black,
		0.5rem -0.5rem 1.4rem black,
		-0.5rem 0.5rem 1.4rem black,
		-0.5rem -0.5rem 1.4rem black;
}

.heirloomRare10 .heirloomIconContainer {
	color: #ffa229;
}

.heirloomRare10Anim .heirloomIconContainer {
	color: #ffa229;
	animation: heirloomRare10Animated 6s infinite;
}

.heirloomRare10 .heirloomMod:hover, .heirloomRare10Anim .heirloomMod:hover {
	border: 0.2rem solid #ffa229;
}

.heirloomRare10 .heirloomMod {
	background-color: initial;
}

@keyframes heirloomRare7Animated {
	0% {
		text-shadow: 
			0.1rem 0.1rem 0.2rem #ff9326, 
			0 0 2.5rem #ff4000, 
			0 0 0.5rem #f37900, 
			-0.17rem -0.17rem 0.17rem rgba(140,35,0,0.8),  
			0.17rem -0.17rem 0.17rem rgba(89,0,0,0.72),
			-0.17rem 0.17rem 0.17rem rgba(102,0,0,0.58),
			0.17rem 0.17rem 0.3rem rgba(89,0,0,0.72);	
		animation-timing-function: ease-in;
	}
	50% {
		text-shadow: 
			0.1rem 0.1rem 0.8rem #ff9326, 
			0 0 5rem #ff4000, 
			0 0 2.5rem #f37900, 
			-0.17rem -0.17rem 0.17rem rgba(140,35,0,0.8),  
			0.17rem -0.17rem 0.17rem rgba(89,0,0,0.72),
			-0.17rem 0.17rem 0.17rem rgba(102,0,0,0.58),
			0.17rem 0.17rem 0.3rem rgba(89,0,0,0.72);	
		animation-timing-function: ease-out;
	}
	100% {
		text-shadow: 
			0.1rem 0.1rem 0.2rem #ff9326, 
			0 0 2.5rem #ff4000, 
			0 0 0.5rem #f37900, 
			-0.17rem -0.17rem 0.17rem rgba(140,35,0,0.8),  
			0.17rem -0.17rem 0.17rem rgba(89,0,0,0.72),
			-0.17rem 0.17rem 0.17rem rgba(102,0,0,0.58),
			0.17rem 0.17rem 0.3rem rgba(89,0,0,0.72);	
	}
}

@keyframes heirloomRare8Animated {
	0% {
		text-shadow: 
			0.1rem 0.1rem 0.2rem #0f9e4a, 
			0 0 2.5rem #2a40bb, 
			0 0 0.5rem #217233, 
			-0.17rem -0.17rem 0.17rem rgba(70, 3, 82, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(37, 80, 12, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(124, 126, 9, 0.58),
			0.17rem 0.17rem 0.3rem rgba(33, 9, 36, 0.72);	
		animation-timing-function: ease-out;
		transform: rotate(0deg);
	}
	50% {
		text-shadow: 
			0.1rem 0.1rem 0.8rem #0f9e4a, 
			0 0 5rem #2a40bb, 
			0 0 2.5rem #217233, 
			-0.17rem -0.17rem 0.17rem rgba(70, 3, 82, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(37, 80, 12, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(124, 126, 9, 0.58),
			0.17rem 0.17rem 0.3rem rgba(33, 9, 36, 0.72);	
		animation-timing-function: ease-in;
		transform: rotate(180deg);
	}
	100% {
		text-shadow: 
			0.1rem 0.1rem 0.2rem #0f9e4a, 
			0 0 2.5rem #2a40bb, 
			0 0 0.5rem #217233, 
			-0.17rem -0.17rem 0.17rem rgba(70, 3, 82, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(37, 80, 12, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(124, 126, 9, 0.58),
			0.17rem 0.17rem 0.3rem rgba(33, 9, 36, 0.72);
		transform: rotate(360deg);
	}
}

@keyframes heirloomRare9Animated{
	0% {
		text-shadow: 
			0.1rem 0.1rem 0.2rem #837601, 
			0 0 2.5rem #3614b4, 
			0 0 0.5rem #4d4607, 
			-0.17rem -0.17rem 0.17rem rgba(17, 71, 1, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(13, 0, 89, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(5, 44, 1, 0.58),
			0.17rem 0.17rem 0.3rem rgba(24, 0, 89, 0.72);	
		animation-timing-function: ease-in;
	}
	50% {
		text-shadow: 
			0.1rem 0.1rem 0.8rem #033f01, 
			0 0 5rem #0bff02, 
			0 0 2.5rem #053d03, 
			-0.17rem -0.17rem 0.17rem rgba(17, 71, 1, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(13, 0, 89, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(5, 44, 1, 0.58),
			0.17rem 0.17rem 0.3rem rgba(24, 0, 89, 0.72);	
		animation-timing-function: ease-out;
	}
	100% {
	text-shadow: 
			0.1rem 0.1rem 0.2rem #837601, 
			0 0 2.5rem #3614b4, 
			0 0 0.5rem #4d4607, 
			-0.17rem -0.17rem 0.17rem rgba(17, 71, 1, 0.8),  
			0.17rem -0.17rem 0.17rem rgba(13, 0, 89, 0.72),
			-0.17rem 0.17rem 0.17rem rgba(5, 44, 1, 0.58),
			0.17rem 0.17rem 0.3rem rgba(24, 0, 89, 0.72);		
	}
}

@keyframes heirloomRare10Animated{
	0% {
		text-shadow:
			0.05rem 0.05rem 0.05rem #9b980c,
			-0.05rem 0.05rem 0.05rem #9b980c,
			0.05rem -0.05rem 0.05rem #9b980c,
			-0.05rem -0.05rem 0.05rem #9b980c,
			0.15rem 0.15rem 0.15rem #bf0000,
			-0.15rem 0.15rem 0.15rem #bf0000,
			0.15rem -0.15rem 0.15rem #bf0000,
			-0.15rem -0.15rem 0.15rem #bf0000,
			0.5rem 0.5rem 1.4rem black,
			0.5rem -0.5rem 1.4rem black,
			-0.5rem 0.5rem 1.4rem black,
			-0.5rem -0.5rem 1.4rem black;
	}
	25% {
		text-shadow:
			0.05rem 0.05rem 0.05rem #bf0000,
			-0.05rem 0.05rem 0.05rem #bf0000,
			0.05rem -0.05rem 0.05rem #bf0000,
			-0.05rem -0.05rem 0.05rem #bf0000,
			0.15rem 0.15rem 0.15rem #bf0000,
			-0.15rem 0.15rem 0.15rem #bf0000,
			0.15rem -0.15rem 0.15rem #bf0000,
			-0.15rem -0.15rem 0.15rem #bf0000,
			0.5rem 0.5rem 1.4rem black,
			0.5rem -0.5rem 1.4rem black,
			-0.5rem 0.5rem 1.4rem black,
			-0.5rem -0.5rem 1.4rem black;
	}
	50% {
		text-shadow:
			0.05rem 0.05rem 0.05rem #4a0555,
			-0.05rem 0.05rem 0.05rem #4a0555,
			0.05rem -0.05rem 0.05rem #4a0555,
			-0.05rem -0.05rem 0.05rem #4a0555,
			0.15rem 0.15rem 0.15rem #bf0000,
			-0.15rem 0.15rem 0.15rem #bf0000,
			0.15rem -0.15rem 0.15rem #bf0000,
			-0.15rem -0.15rem 0.15rem #bf0000,
			0.5rem 0.5rem 1.4rem black,
			0.5rem -0.5rem 1.4rem black,
			-0.5rem 0.5rem 1.4rem black,
			-0.5rem -0.5rem 1.4rem black;
	}
	75% {
		text-shadow:
			0.05rem 0.05rem 0.05rem #bf0000,
			-0.05rem 0.05rem 0.05rem #bf0000,
			0.05rem -0.05rem 0.05rem #bf0000,
			-0.05rem -0.05rem 0.05rem #bf0000,
			0.15rem 0.15rem 0.15rem #bf0000,
			-0.15rem 0.15rem 0.15rem #bf0000,
			0.15rem -0.15rem 0.15rem #bf0000,
			-0.15rem -0.15rem 0.15rem #bf0000,
			0.5rem 0.5rem 1.4rem black,
			0.5rem -0.5rem 1.4rem black,
			-0.5rem 0.5rem 1.4rem black,
			-0.5rem -0.5rem 1.4rem black;
	}
	100% {
		text-shadow:
			0.05rem 0.05rem 0.05rem #9b980c,
			-0.05rem 0.05rem 0.05rem #9b980c,
			0.05rem -0.05rem 0.05rem #9b980c,
			-0.05rem -0.05rem 0.05rem #9b980c,
			0.15rem 0.15rem 0.15rem #bf0000,
			-0.15rem 0.15rem 0.15rem #bf0000,
			0.15rem -0.15rem 0.15rem #bf0000,
			-0.15rem -0.15rem 0.15rem #bf0000,
			0.5rem 0.5rem 1.4rem black,
			0.5rem -0.5rem 1.4rem black,
			-0.5rem 0.5rem 1.4rem black,
			-0.5rem -0.5rem 1.4rem black;
	}
}

@keyframes moveRight {
	0% {transform: translateX(-20rem)}
	100% {transform: translateX(0rem)}
}

@keyframes moveLeft {
	0% {transform: translateX(19rem)}
	100% {transform: translateX(0rem)}
}

@keyframes moveDown {
	0% {transform: translateY(-27.9rem)}
	100% {transform: translateY(0rem)}
}