html, body {
	margin: 0;
	padding: 0;
	background: #212121;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	margin: 6px;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas {
	position: absolute;
	top: 0;
}

.score {
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Share Tech Mono", monospace;
	list-style-position: inside;
	list-style-type: square;
}

.score .title {
	font-size: 1.5rem;
	list-style: none;
	margin-left: -2px;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.powerText {
	font-family: "Share Tech Mono", monospace;
	font-size: 2rem;
	height: 36px;
}

.powerNumber {
	font-family: "Share Tech Mono", monospace;
	font-size: 2rem;
	height: 36px;
}

.scoreText {
	font-family: "Share Tech Mono", monospace;
	font-size: 2rem;
	height: 36px;
}

.scoreNumber {
	font-family: "Share Tech Mono", monospace;
	font-size: 2rem;
	height: 36px;
}

.counter {
	font-family: "Share Tech Mono", monospace;
	font-size: 2rem;
	height: 36px;
}

.timer {
	width: 175px;
	height: 4px;
	background: transparent;
	border-radius: 2px;
	margin-bottom: 2px;
}

.timer.active {
	background: white;
}

.subtext {
	font-family: "Share Tech Mono", monospace;
	font-size: 0.9rem;
}

.counter.grow {
	animation: grow 0.25s both;
}

.numpad {
	display: flex;
	flex-direction: column;
}

.numpad .column {
	margin-bottom: 5px;
}

.numpad .row {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	text-align: center;

	background: #512DA8;
	border-radius: 4px;
	box-shadow: inset 0 0 8px 3px rgba(0, 0, 0, 0.2), -4px 4px 13px 1px rgba(0, 0, 0, 0.2);
}

.numpad .row.down {
	animation: grow 0.15s both;
}

.upgrades {
	right: 0;
}

@keyframes grow {
	0% {
		  animation-timing-function: ease-out;
	}

	50% {
	  	transform: scale(1.3);
		animation-timing-function: ease-in;
	}
}